
<!-- Education -->

  <div class="text-secondary">
    <!-- Card Info -->
        <div class="card h-100">
          <img src="assets/images/upec.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Paris-Est Créteil University</h5>
            <p class="card-text">Domain: Information Technology</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">2016 - 2021</small>
          </div>
        </div>


      <div class="col">
        <div class="card h-100">
          <img src="assets/images/TPHK.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Tran Phu-Hoan Kiem High School</h5>
            <p class="card-text">Group A1: Maths, Physics, English <br>
            Grade: 7.7 - Mention: Good</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">2012 - 2015</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="assets/images/coursera.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Coursera</h5>
            <p class="card-text">Finish the certification of the Python on Coursera<br>
              Name: Crash course on Python <br>
            Created by: GOOGLE</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">2021</small>
          </div>
        </div>

      </div>
    <!-- /Card Info -->
  </div>

<!-- /Education -->
