
<!-- Works Experiences -->

<div class="card border-danger mb-3" style="max-width: fit-content">
  <div class="card-header">Works Experiences</div>
  <div class="card-body">

    <!-- Card Info -->
    <div class="card border-danger" style="width: fit-content">
      <div class="card-body">
        <h5 class="card-title  text-danger">Developer web</h5>
        <h6 class="card-subtitle mb-2 text-dark">MISODA</h6>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#info1">More Information</button>
      </div>
      <div class="card-footer">
        <small class="text-muted">7/2020-9/2020</small>
      </div>
    </div>
    <!-- /Card Info -->

    <!-- Vertically centered scrollable modal -->
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <!-- Modal -->
      <div class="modal fade" id="info1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Developer web at MISODA</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger">
              <p class="modal-text">
                Address: Villemomble, France <br>
                Duration: 2 months <br>
                Role: Volunteer <br>
                Website: <a href="https://misoda.fr/app" target="_blank">https://misoda.fr</a> <br><br>
                Mission: <br>
                &nbsp; - Learn Angular-Ionic framework, make a new project "People" and add into the site of the website on Github. <br>
                &nbsp; - Create a website using the Angular-Ionic framework, based on a website <a href="https://www.gael-systems.com" target="_blank">https://www.gael-systems.com</a>
              </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- /Works Experiences -->
