

<!-- Competence -->
<div class="card border-success mb-3" style="max-width: fit-content">
  <div class="card-header">Competences</div>
  <div class="card-body text-success">
      <div class="row" >
        <div class="col">
          <h5>Languages</h5>
          <ul>
            <li>France</li>
            <li>English</li>
            <li>Vietnamese</li>
          </ul>
        </div>
        <div class="col">
          <h5>Frameworks</h5>
          <ul>
            <li>Bootstrap</li>
            <li>Angular-Ionic</li>
          </ul>
        </div>
        <div class="col">
          <h5>Database</h5>
          <ul>
            <li>MySQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
        <div class="col">
          <h5>Programming Languages</h5>
          <ul>
            <li>Python</li>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>C</li>
            <li>Java</li>
            <li>Lua</li>
            <li>Javascript</li>
            <li>Ocaml</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- /Competence -->
