<!-- Contact -->

<!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <!-- Modal -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-primary">
          <p> Adresse: 10 rue du Périgord, Massy, France <br>
            Mail: linhdangvu@icloud.com <br>
            Phone: +33 6 95 76 66 66 <br>
          </p>
          <a href="https://github.com/linhdangvu" target="_blank"
             class="btn btn-primary"> Github </a> &nbsp;
          <a href="https://www.linkedin.com/in/linhdangvu/" target="_blank"
             class="btn btn-primary"> Linkein </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

</div>
<!-- /Contact -->
