
<!-- Card center -->

<div style="padding-top: 10%" align="center">
  <div class="card mb-3" style="max-width: 90%">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/images/CV-image.JPG" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 style="font-size: 40px"> Hi, I'm Linh.</h1>
          <p style="font-size: 20px">
            I'm currently a 3rd year Bachelor student at Paris-Est Créteil University in France <br>
            I'm looking for an intern on Developer Web. <br>
            </p>

          <!-- Information -->
          <div>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#contact">Contact</button>
            <button type="button" class="btn btn-outline-danger" (click)="info='workexp'">Works Experiences</button>
            <button type="button" class="btn btn-outline-success"  (click)="info='comp'">Competences</button>
            <button type="button" class="btn btn-outline-dark" (click)="info='proj'">Projects</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Education</button>
          </div>
            <br>
          <!-- /Information -->
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div> <app-contact class="modal fade" id="contact" data-bs-backdrop="static"
                      aria-hidden="true"></app-contact> </div>

  <!-- Education -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Education</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-education></app-education>
    </div>
  </div>

  <!-- Info -->
      <div [ngSwitch]="info">
        <div *ngSwitchCase="'workexp'"> <app-workexp></app-workexp> </div>
        <div *ngSwitchCase="'comp'"> <app-competence></app-competence> </div>
        <div *ngSwitchCase="'proj'"> <app-project></app-project> </div>
      </div>

  <!-- /Info -->
</div>

<!-- /Card center -->


