
<!-- Projects -->
<div class="card border-dark mb-3" style="max-width: 90%">
  <div class="card-header">Projects</div>
  <div class="card-body text-dark">
    <!-- Card Info -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Tricount Application</h5>
            <p class="card-text">Programming Language: Java <br>
            Tool: Android Studio <br>
            Mission: Count the amounts to be transferred to balance all the debts.
            </p>
            <a href="https://github.com/linhdangvu/PartagedeCompte" target="_blank"
               class="btn btn-dark"> Link </a> &nbsp;
          </div>
          <div class="card-footer">
            <small class="text-muted">2019 - 2020</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Pacman game</h5>
            <p class="card-text"> Programming Language: Java <br>
              Tool: Eclipse <br>
              Mission: Remake the Pacman game.</p>
            <a href="https://github.com/linhdangvu/Pacman" target="_blank"
               class="btn btn-dark"> Link </a> &nbsp;

          </div>
          <div class="card-footer">
            <small class="text-muted">2019 - 2020</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Implementation of a sales website</h5>
            <p class="card-text">Programming Language: HTML, CSS, PHP <br>
              Database: MySQL <br>
              Mission: Create a site for connecting sellers who offer items and buyers who will order them.</p>
            <a href="https://pw.lacl.fr/~u21611949/projetweb/index.php" target="_blank"
               class="btn btn-dark"> Link </a> &nbsp;
          </div>
          <div class="card-footer">
            <small class="text-muted">2021</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Machine Learning - IA application</h5>
            <p class="card-text">Programming Language: HTML<br>
              Source: Teachable Machine - google, HTML <br>
              Mission: Identify simple objects.</p>
            <a href="https://linhdangvu.github.io/identifyObjet/index.html" target="_blank"
               class="btn btn-dark"> Link </a> &nbsp;
          </div>
          <div class="card-footer">
            <small class="text-muted">2021</small>
          </div>
        </div>
      </div>
    </div>

    <!-- /Card Info -->  </div>
</div>
<!-- /Projects -->
